<html>
	<head>
		<title>Aranai: Test Web Crawler</title>
		<link rel="stylesheet" type="text/css" href="/home/css"/>
	</head>
	<body>

		<section class="pageBody">

			<section class="searchBar full-width top-margin">
				<!--Search Bar-->
				<include("./searchBar.marko")/>
			</section>

			<section class="tableBody full-width top-margin hidden">
				<!--Table Body-->
				<include("./tableBody.marko")/>
			</section>

		</section>

		<script src="/home/js"></script>
	</body>
</html>